<div class="chat-container" [ngClass]="{ minimized: isMinimized }" (click)="isMinimized ? toggleMinimize() : null" id="chat-container">
  <div class="chat-header">
    <div class="background-image"></div>
    <span class="chat-title">ChainBot</span>
    <button class="minimize-btn" (click)="toggleMinimize($event)">-</button>
    <button class="close-btn" (click)="closeChat($event)">x</button>
  </div>
  <div class="chat-content" id="chat-content" #chatContent>
    <div *ngFor="let message of conversation" class="message" [ngClass]="{ 'user-message': message.speaker === 'user', 'bot-message': message.speaker === 'bot' }">
      <div *ngIf="message.speaker === 'bot'" class="message-icon">
        <img style="width: 30px; height: 30px;" src="favicon.ico" alt="Bot Icon">
      </div>
      <div *ngIf="message.speaker === 'user' && message.image" class="message-image">
        <img [src]="message.image" alt="Uploaded Image" style="max-width: 150px;">
      </div>
      <div class="message-text">
        {{ message.text }}
      </div>
    </div>

    <div *ngIf="currentNode.type === 'question'" class="answers">
      <ng-container *ngFor="let answer of currentNode.answers">
        <button 
          *ngIf="!(submitted && (answer.text === 'Submit' || answer.text === 'Cancel'))" 
          (click)="selectAnswer(answer)">
          {{ answer.text }}
        </button>
      </ng-container>
    </div>

    <div *ngIf="currentNode.type === 'upload'" class="file-upload-container">
      <input type="file" id="fileInput" (change)="handleFileInput($event)" accept="image/*" style="display: none;">
      <button (click)="chooseAndUploadScreenshot()">Choose and Upload Screenshot</button>
      <button (click)="doNeed()">Skip</button>
    </div>
    
    <div *ngIf="currentNode.type === 'input'" class="user-input">
      <input [(ngModel)]="userInput" placeholder="Message ChianBot..." (keydown.enter)="submitInput()" #inputField />
      <button type="submit" (click)="submitInput()">
        <img src="https://www.transparentpng.com/thumb/send-email-button/zfOVUL-send-email-button-cut-out.png" alt="Submit Icon">
      </button>
    </div>
    <div *ngIf="currentNode.type === 'dropdown'" class="dropdown">
      <select (change)="selectDropdownOption($event)">
        <option *ngFor="let option of currentNode.options" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>

  <div class="chat-minimized" id="chat-minimized" (click)="toggleMinimize()" *ngIf="isMinimized">
    <img style="width: 50px; height: 50px;" src="https://chatbot.design/favicon.ico">
  </div>
</div>
